<div class="jumbotron center">
	<h1>About OFJ</h1>
	<p>This is a One Month Rails sample application!</p>
	<p>My name is Chet Durkin, I am 19 years old and I love <%= link_to "coding", "http://onemonth.com" %>.</p>
</div>